<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title | uppercase }}! 
  </h1>
<!-- using pipess -->
<p>sqare value is {{secondTitle|pipes}}</p>
<p>{{date|date:'m/d/y'}}</p>
<p>decimal: {{decimalValue|number:'2.1'}}</p>
<p>Ascending order:{{asendingOrder|ascending}}</p>
<p>descending order:{{descendingOrder|descending}}</p>
<input type="number" [(ngModel)]="inputValue">
<button (click)='inputClick(inputValue)'>click</button>
<p>The value is {{valueRange|highOrLow}}</p>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<hr>
<!-- error message and success message -->
<app-success #success [inputVal]='parentValue'></app-success>
<app-warning #warning [inputVal]='success.successValue'></app-warning>
<p>{{warning.warningMsg}}</p>
<hr>

 <!-- it consists of lifecycles -->
<app-lifecycle></app-lifecycle>

<!-- two way binding -->
<app-kri></app-kri>

<!-- <p>{{x}}</p>
<p>{{y}}</p>
<p>{{z}}</p>
<p>{{a}}</p>
<p>{{b}}</p>
<p>{{list}}</p>
<p>{{a}}</p>
<p>{{b}}</p>
<p>{{c}}</p>
<p>{{d}}</p>
<p>{{e}}</p>
<p>{{f}}</p>
<p>{{notSure}}</p>
<p>{{g}}</p>
<p>{{h}}</p> -->